*.a78
*.bin
*.yminc
bin/
.vscode
.idea
*.chp
*.fus
*.jed
*.pin
*.abs
*.pdf
*.sr
*.sim
.testing/
.DS_Store
.tscircuit
build/
examples/build/
pld/build/
pcb/build/
pcb/node_modules/
pcb/.tools/
pcb/dist/
